body {
	font-family: "Verdana", sans-serif;
	color: #444;
	background-color: #f0f0f0;
	margin: 0;
	padding: 0;
}
body, div, ol, li {
	box-sizing: border-box;
}

ol {
	padding: 20px 10px;
	margin: 0;
	width: 100%;
	
}

li {
	max-width: 100%;
	width: 400px;
	padding: 0.8em 1em;
	margin-bottom: 3px;
	list-style-position: inside;
	background-color: rgba(0,0,0,0.1);
	color: #383838;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
	box-shadow: 1px 1px 0px rgba(0,0,0,0.25) inset,
				-1px -1px 0px rgba(255,255,255,0.25) inset,
				1px 1px 0px rgba(0,0,0,0.25),
				-1px -1px 0px rgba(255,255,255,0.25);
}

.updates-info {
	padding: 20px 20px;
	font-size: 0.7em;
	max-width: 100%;
	width: 400px;
	
}
.updated {
	background-color: rgba(10,50,10,0.2);
}

.blink {
	font-weight: bold;
	animation: blink 0.6s;
	-webkit-animation: blink 0.6s;

}

.error-msg {
	padding: 1.5em 1.5em;
	text-align: center;
	list-style: none;
	background-color: rgba(200, 10, 10, 0.3);
}

@keyframes blink {
	from {
		color: rgb(0,0,0);
	}
	to {
		color: rgb(250,0,0);
	}
}
